MainWindow {
	background: #222;
	color: #D4D2CF;
}
MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList
{
	background: #222;
	color: #D4D2CF;
}
MainWindow #favoritesPane #favoritesTree
{
	background: #222;
	color: #D4D2CF;
}
MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList, MainWindow #dictsPane #dictsList, MainWindow #historyPane #historyList
{
	background: #222;
	color: #D4D2CF
}
